*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
font-family:Arial, sans-serif;
background:#0f0f0f;
color:white;
padding:40px;
}

.pagina{
border:1px solid #222;
border-radius:10px;
padding-bottom:80px;
}

main{
border:1px solid #222;
border-radius:8px;
padding-bottom:80px;
}

/* header */

header{
position:sticky;
top:0;
width:100%;

background:#0f0f0f;

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

border-bottom:1px solid #2a2a2a;

z-index:1000;

flex-wrap:wrap; 
transition: 0.3s;
backdrop-filter:blur(10px);
background:rgba(15,15,15,0.9);
}

header:hover{
background:#0a0a0a;
border-bottom:1px solid #444;
}

.logo{
letter-spacing:4px;
font-family:'Times New Roman', Times, serif
}

#menu-toggle{
display:none;
}

.menu-icon{
display:none;
flex-direction:column;
cursor:pointer;
gap:5px;
}

.menu-icon span{
width:25px;
height:2px;
background:white;
display:block;
}

nav ul{
display:flex;
gap:30px;
list-style:none;

}

nav a{
text-decoration:none;
color:#cfcfcf;
font-weight:bold;
position:relative;
padding-bottom:5px;
}

nav a::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:0;
height:2px;
background:#e5c100;
transition:0.3s;
}

nav a:hover::after{
width:100%;
}

/* hero */

.hero{
margin-top:0px;
display:flex;
align-items:center;
justify-content:center;
gap:80px;
padding:100px 8%;
flex-wrap:wrap;
}


.hero-vertical{
position:absolute;

top:50%;
left:40%;

transform:translateY(-50%) rotate(180deg);

writing-mode:vertical-rl;

font-size:65px;
font-weight:700;

letter-spacing:8px;

color:rgba(255,255,255,0.05);

pointer-events:none;
}

.hero-text{
position:relative;
max-width:500px;
padding-left:60px;
}

.hero-text h2{
font-size:60px;
line-height:1.1;
margin:20px 0;
font-family: 'Times New Roman', Times, serif;
}

.sub{
letter-spacing:4px;
font-size:12px;
color:#aaa;
}

.descripcion{
color:#bbb;
margin-bottom:25px;
}

button{

padding:12px 30px;

border:1px solid white;

background:none;

color:white;

cursor:pointer;

letter-spacing:2px;

transition:0.3s;

}

button:hover{

background:#e5c100;

color:black;

border-color:#e5c100;

}

.hero-img img{
width:420px;
max-width:100%;
border-radius:8px;
}
/* servicios */

.servicios{
max-width:1200px;
margin:auto;
padding:120px 8%;
}

.servicio{
display:grid;
grid-template-columns:40% 60%;
padding:50px 0;
align-items:center;
}

.servicio h3{
font-size:42px;
font-weight:600;
font-family: 'Times New Roman', Times, serif;
}

.servicio p{
color:#bdbdbd;
max-width:420px;
line-height:1.6;
}

#sub{
font-size:12px;
letter-spacing:4px;
color:#aaa;
margin-bottom:30px;
padding-bottom:10px;
border-bottom:1px solid #2a2a2a;
display:block;
}

.card{
background:#1e1e1e;
padding:30px;
border-radius:10px;
}

/* galeria */

.galeria{

display:grid;
grid-template-columns:repeat(3,1fr);

gap:25px;

padding:40px 8%;

}

.foto{

position:relative;
overflow:hidden;
border-radius:10px;

}

.foto img{

width:100%;
height:320px;

object-fit:cover;

transition:0.5s;

}

.overlay{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.5);

display:flex;
align-items:center;
justify-content:center;

opacity:0;

transition:0.4s;

}

.overlay{

position:absolute;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.55);

display:flex;
align-items:center;
justify-content:center;

opacity:0;

transition:0.4s;

}

.overlay p{

color:white;
font-size:20px;
letter-spacing:2px;

transform:translateY(20px);
transition:0.4s;

}

.foto:hover img{

transform:scale(1.08);
filter:brightness(0.75);

}

.foto:hover .overlay{

opacity:1;

}

.foto:hover .overlay p{

transform:translateY(0);

}

.titulo-galeria{
text-align:center;
font-size:36px;
margin-top:120px;
margin-bottom:40px;
}

.titulo-seccion{
padding:120px 8% 40px 8%;
}

.titulo-seccion h2{
font-size:42px;
margin-top:10px;
}

.titulo-seccion .sub{
padding-bottom:12px;
border-bottom:1px solid #2a2a2a;
display:block;
width:100%;
}

.container p::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:0;
height:2px;
background:#e5c100;
transition:0.3s;
}

.hero,
.servicios,
.titulo-seccion,
.galeria{
opacity:0;
transform:translateY(40px);
animation:aparecer 1s forwards;
}

.servicios{
animation-delay:0.5s;
}

.titulo-seccion{
animation-delay:0.6s;
}

.galeria{
animation-delay:0.9s;
}

@keyframes aparecer{

to{
opacity:1;
transform:translateY(0);
}

}

.footer{
padding:30px 8% 10px 8%;
text-align:center;
border-top:1px solid #2a2a2a;
}

.footer-content h2{
letter-spacing:4px;
margin-bottom:10px;
}

.footer-content p{
color:#aaa;
margin-bottom:25px;
}

.footer-links{
display:flex;
justify-content:center;
gap:30px;
margin-bottom:30px;
}

.footer-links a{

display:flex;
align-items:center;
gap:8px;

text-decoration:none;
color:#ccc;

transition:0.3s;

}

.footer-links a:hover{
color:#e5c100;
}

.icon{

width:16px;
height:16px;

fill:currentColor;

}

.copyright{
font-size:12px;
color:#777;
}

.cta{

text-align:center;

padding:120px 8%;

}

.cta h2{

font-size:36px;

margin-bottom:35px;

font-family:'Times New Roman', Times, serif;

}

.cta-btn{
text-decoration:none;
border:1px solid rgb(82, 78, 78);
padding:14px 36px;
color:rgb(75, 71, 71);
letter-spacing:2px;
transition:0.4s;
display:inline-block;
position:relative;
overflow:hidden;
}

.cta-btn::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:#e5c100;
transition:0.4s;
z-index:-1;
}

.cta-btn:hover::before{
left:0;
}

.cta-btn:hover{
color:black;
border-color:#e5c100;
}

.lightbox{

position:fixed;
top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.92);

display:flex;
align-items:center;
justify-content:center;

opacity:0;
pointer-events:none;

transition:0.4s;

z-index:2000;

}

.lightbox img{

max-width:85%;
max-height:85%;

border-radius:10px;

}

.lightbox:target{

opacity:1;
pointer-events:auto;

}

.cerrar{

position:absolute;

top:40px;
right:60px;

font-size:32px;

color:white;

text-decoration:none;

transition:0.3s;

}

.cerrar:hover{

color:#e5c100;

}

.prev,
.next{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:40px;
color:white;
text-decoration:none;
padding:20px;
}

.prev{
left:40px;
}

.next{
right:40px;
}

.prev:hover,
.next:hover{
color:#e5c100;
}

/* responsive */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
gap:40px;
margin-top:20px;
padding-top:40px;
}

.hero-text{
padding-left:0;
}

.hero-vertical{
display:none;
}

.servicios{
padding:80px 8%;
}

.servicio{
grid-template-columns:1fr;
gap:10px;
}

.servicio h3{
font-size:32px;
}

.hero{
flex-direction:column;
}

.hero-img{
order:-1;
}

.hero-text{
text-align:center;
padding-left:0;
}

.hero-vertical{
display:none;
}

.galeria{
grid-template-columns:repeat(2,1fr);
}

.foto img{
height:260px;
}

}


@media(max-width:600px){

nav ul{
flex-wrap:wrap;
justify-content:center;
gap:15px;
}


.hero-text h2{
font-size:42px;
}

.galeria{
columns:2;
}

}

@media(max-width:800px){

.menu-icon{
display:flex;
}

nav{
width:100%;
max-height:0;
overflow:hidden;
transition:max-height 0.35s ease;
}

nav ul{
flex-direction:column;
align-items:center;
padding:20px 0;
gap:20px;
}

#menu-toggle:checked + .menu-icon + nav{
max-height:250px;
}

.logo{
font-size:20px;
letter-spacing:2px;
}

header{
padding:15px 20px;
}

}
